.vscode/**
.vscode-test-web/**
src/**
out/**
node_modules/**
dist/test/**
.gitignore
vsc-extension-quickstart.md
webpack.config.js
esbuild.js
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
dev/**
CLAUDE.md
manifests-schemas-to-ts.mjs
package-json-schema.json
.claude/**
.idea/**
coverage/**
testing-workspaces/**
vsc-extension-quickstart.md
